<div class="container">
  <h1 class="container h1 m-2"></h1>
</div>

<div class="container mb-2">
  <div class="row text-center">
    <div class="col-sm m-2">
      <button class="btn btn-primary p-2 m-0  w-100 h-100" (click)="this.base.reqGenerateCells()">
        generateCells
      </button>
    </div>
    <div class="col-sm m-2">
      <button class="btn btn-outline-secondary p-2 m-0 w-100  h-100" (click)="this.base.reqClearCells()">
        clearCells
      </button>
    </div>
    <div class="col-sm m-2">
      <div class="alert text-secondary bg-light p-2 m-0 w-100 h-100">
        <span>Connections: {{connections}}</span>
      </div>
    </div>
    <div *ngIf="frame.length>0" class="col-md m-2" [ngClass]="{'collapse': !collapse}">
      <button (click)="collapse=!collapse" class="btn btn-light text-secondary p-2 m-0 w-100 h-100"
        [ngClass]="{'collapse': !collapse}">
        Open view
      </button>
    </div>
  </div>
</div>

<div class="container row mb-3 mx-0">

  <div class="col-12 col-md-6" style="height: max-content;position: relative;"
    [ngClass]="{'collapse': collapse || frame.length<=0}">
    <button (click)="collapse=!collapse" class="btn btn-light px-2 m-2 py-0"
      style="z-index: 7; position: absolute;right: 2em;background: transparent;border: transparent;outline: none; top: 1em;">x</button>
    <app-simulation-graphic [frame]="frame" [size]="size"></app-simulation-graphic>
  </div>

  <div class="col" style="position: relative;">
    <app-datatable [notSizedDiagram]="collapse || frame.length<=0" [frame]="frame" [size]="size"></app-datatable>
  </div>

</div>